# Since most topics will both be published and subscribed to, it makes
# sense to keep the topic names stored in location. This file is exactly that.
# Any new topics created should be defined here.
topics:

    cme:
        # actuators
        diff_throttle_stern: "/CME/diff_throttle_stern"
        bow_control: "/bow_control" # Make sure to match allocators/bow_control
        pod_angle: "/CME/pod_angle_input"
        # motion
        guidance_law_input: "/CME/guidance_law_input"
        collision_avoidance_input: "/CME/collision_avoidance_input"
        waypoints: "/CME/waypoint_list"
        obstacles: "/CME/obstacle_list"
        wp_pp: "/CME/wp_pp"
        # state
        eta_ref: "/CME/pose_reference"
        revolt_state: "/asv/state"
        revolt_pos_ned: "/revolt_pos_NED"
        azure_on: "/azure_on"
            
    communication:
        modbus:
            feedback:
                bow: "/bow_feedback"
                pod_angle: "/pod_angle_feedback"
                stern_thruster: "/stern_thruster_feedback"
            holding_register:
                read:
                    srv: "/modbus/modbus_server/read_from_registers"
                    vru: "/modbus/modbus_server_vru/read_from_registers"
                    gps: "/modbus/modbus_server_gps/read_from_registers"
                write: "/modbus/modbus_server/write_to_registers"
        tcp:
            command: "/tcp_datareceiver/external_command"
        udp:
            ais: "/ais_dynamic"

    control:
        controllers:
            dp:
                control_signal: "/tau_controller" # Make sure to match rl/control_signal
                reference_model: "/reference_filter/state_desired"
                control_mode: "/control_mode"
            heading:
                control_signal: "/headingController/output"
            speed:
                control_signal: "/speedController/output"
            rl:
                control_signal: "/tau_controller"
                weights:
                    actor: "/rl/weights/actor"
                    critic: "/rl/weights/critic"
                    gamma: "/rl/weights/gamma"
                    theta: "/rl/weights/theta"
                action: "/rl/action"
                state: "/rl/state"
                ref: "/rl/ref"
        allocators:
            stern_angles: "/thrusterAllocation/pod_angle_input"
            stern_setpoints: "/thrusterAllocation/stern_thruster_setpoints"
            bow_control: "/bow_control" # Make sure to match cme/bow_control
            dp:
                tau_c: "/tau_commanded"
            neural:
                tau_diff: "/NN/tau_diff"
                thruster_forces: "/NN/F"
            rl:
                state: "/RLallocation/state"

    guidance:
        intersection:
            asv_intersect: "/asv_intersect"
        colav:
            asv_offset: "/asv/offset"
            predicted_trajectory: "/colav/plot"
        guidance_law:
            speed_controller_input: "/guidanceLaw/speed_controller_input"
            heading_controller_input: "/guidanceLaw/heading_controller_input"
            data: "/guidanceLaw/guidance_law_data"

    hardware:
        actuators:
            # Actuators topics are not used in the firmware due to rosserial/hardware limitations
            bow:
                retract: "/retract_actual_bow"
                water_sensor: "/water_sensor"
                sys_alive: "/sys_alive"
                motor_current: "/motor_currents"
            stern:
                RCRemote_input: "/RCRemote_input"
                sensor_p: "/sensor_p_input"
                sensor_s: "/sensor_s_input"
                battery_voltage: "/battery_voltage"
                em_stop_status: "/EM_stop_status"
        furuno_radar:
            spoke_data: "/radar/spokes"
            points: "/radar/points"
            point_cloud: "/radar/pcl"
            cluster: "/radar/cluster" # Individual clusters
            hulls: "/radar/hulls" # The convex hulls of each cluster with the same timestamp (i.e. from the same sweep)
            scan: "/radar/scan"
        vs330_navsat:
            fix: "/vectorVS330/fix"
            velocity: "/vectorVS330/velocity"
            time_ref: "/vectorVS330/time_reference"
            heading: "/vectorVS330/heading"
            gpgga: "/vectorVS330/GPGGA"
            gprmc: "/vectorVS330/GPRMC"
        nmea_navsat:
            sentence: "/nmea_sentence"
        #ladybug_camera:
            # The ladybug driver uses an array of publishers with
            # dynamically given names (camera_0, camera_1 etc..)
            # so it doesn't really make sense to 
            # optionally: base_topic: "/ladybug/image_raw/"
        #velodyne_lidar:
            # Is mainly its own package so we don't want to meddle with that here :)
        xsens_ins:
            imu: "/xsens/imu"
            gnss_pvt: "/xsens/gnssPvt"
            velocity: "/xsens/velocity"
            position: "/xsens/position"
            time: "/xsens/time"
            utc_time: "/xsens/utc_time"
        rc_remote:
            override: "/rcremote/remote_override"
            manual: "/rcremote/rc_manual"
            tau: "/rc_tau"
        
    navigation:
        ais:
            decoded_message: "/AISdecoder/decoded_AIS_message"
        observer:
            eta:
                ned: "/observer/eta/ned"
                body: "/observer/eta/body"
                ned_rviz: "/observer/eta/ned_rviz"
            nu:
                ned: "/observer/nu/ned"
                body: "/observer/nu/body"
            sog_cog: "/observer/sog_cog"
            bias:
                acceleration: "/observer/bias/acceleration"
                angular_velocity: "/observer/bias/angular_velocity"
            ned_origin: "/observer/ned_origin"

    #tracking:
        # Mostly autosea stuff, do not touch for now
