<!--
This is the main launchfile, so anything that is to be run on the ReVolt hardware
or simulator needs to be defined here. If you are adding a single node, you may
add it here directly with the 
    <node ...  />
syntax. If you are adding multiple nodes or any node that requires more than a few lines
of a launchfile, consider putting it in its own launchfile, and include it here. Including
can be done with the
    <include file ... />
syntax.

See the rest of this file for examples.
-->


<launch>


    <include file = "$(find sensor_fusion_launch)/launch/tracking.launch"/>
    <include file="$(find sensor_fusion_launch)/launch/darknet.launch"/> <!-- Object detection -->


</launch>