version: '3.0'
services:

  master:
    image: ros:noetic-ros-core-focal
    platform: linux
    container_name: gemini-master
    command:
      - roscore
    network_mode: host

  control-system:
    image: grdrevolt.azurecr.io/control-system:main
    platform: linux
    container_name: gemini-control-system
    depends_on:
      - master
    network_mode: host
    entrypoint: ["/bin/bash", "-c", "/bin/sleep 2 && /revolt_entrypoint.sh -g true"]

  sensor-fusion:
    image: grdrevolt.azurecr.io/sensor-fusion:latest
    platform: linux
    container_name: gemini-sensor-fusion
    volumes:
      - ../../../SensorFusion:/sensor_fusion_ws/src
    depends_on:
      - master
      - control-system
    network_mode: host
    entrypoint: ["/bin/bash", "-l"]
    tty: true

  gemini-interface:
    image: grdrevolt.azurecr.io/gemini-ros-interface:main
    platform: linux
    container_name: gemini-interface
    depends_on:
      - master
      - control-system
      - sensor-fusion
    network_mode: host
    entrypoint: ["/bin/bash", "-c", "/bin/sleep 2 && /gemini_entrypoint.sh -p linux -g true"]
    tty: true
