<launch>

	<!--node pkg="rosbag" type="play" respawn="false" name="player" args=" ../rosbags/bag1.bag"></node-->

 	<node pkg="object_detection" name="image_processing" ns="Image_processing" type="image_processing.py" output="screen">
	 	<param name="~old_rosbag" value="false"/>
	 </node>

 	<!-- Publisher for test darknet objects -->
 	<node pkg="object_detection" name="test" type="test.py" output="screen"></node>


</launch>
