<launch>
    <arg name="half_pi" value="$(eval pi/2)"/>
    <arg name="pi" value="$(eval pi)"/>
    <node name="framepublisher" pkg="frame_publisher" type="FramePublisher" respawn="true" output="screen"/>
    <node name="lidarprocessor" pkg="lidar_processing" type="LidarProcessor" respawn="true" output="screen"/>
    <!--node pkg="tf2_ros" type="static_transform_publisher" name="enu_ned_broadcaster" args="0 0 0 $(arg half_pi) 0 $(arg pi) fixed ned"/-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="enu_ned_broadcaster" args="0 0 0 $(arg half_pi) 0 $(arg pi) fixed ned"/>
    



    <node pkg="tf2_ros" type="static_transform_publisher" name="cam_lidar_broadcaster" args="0.0104695 -0.302541 -0.532367 1.30516 -1.51385 0.276407 percieved_calibrated_cam0_frame lidar"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="realframecam0_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam0 percieved_calibrated_cam0_frame"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="realframecam1_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam1 percieved_calibrated_cam1_frame"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="realframecam4_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam4 percieved_calibrated_cam4_frame"/>
    
	<node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam0_broadcaster" args="0.060997 0.000523 -0.000248 2.154491 1.569960 2.154491 cameraframe cam0"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam1_broadcaster" args="0.019350 -0.057733 0.000210 1.347821 1.570194 0.096592 cameraframe cam1"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam4_broadcaster" args="0.018356 0.058226 -0.000046 0.306234 1.566492 1.562662 cameraframe cam4"/>


    <!--Fix this to final system, remove redundant transormation -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="body_cam_broadcaster" args="0.95 0 -0.20 0 0 $(arg pi) body cameraframe"/>





</launch>
