<launch>
    <!-- Visualization of track estimates in Rviz -->
   <node name="visualizer" pkg="autosea_vis" type="display_tracks" ns="visualizing" output="screen" respawn="true">
    <param name="estimate_topic" value ="/tracking/estimates" />
    <param name="marker_topic" value="rviz_marker" />
    <param name="width" value="0.5" /> -
     <rosparam param="color">[1.0, 0.0, 0.0, 1.0]</rosparam>    <!--RGBA  -->
    <param name="max_line_length" value="5" /> 
    <param name="end_width" value="1" />
  </node>   
    <!-- Plot ReVolt and obstacles -->
    <!-- <node name = "plottarn" pkg="autosea_vis" type = "plot_pose.py" ns=  "visualizing" output="screen" respawn="true"/> -->
</launch>