<launch>
    
    <param name= "/use_sim_time" value = "true"/>

    <arg name="use_gps_time" default="false"/>

	<arg name="half_pi" value="$(eval pi/2)"/>
    <arg name="pi" value="$(eval pi)"/>

    <!--Publisher for BODY to NED-->
	<node name="framepublisher" pkg="frame_publisher" type="FramePublisher" respawn="true" output="screen">
        <param name="use_gps_time_in_publisher" value="false"/>
    </node>

    <!--LiDAR clustering and frame transformer -->
	<node name="lidarprocessor" pkg="lidar_processing" type="LidarProcessor" respawn="true" output="screen"/>

   <!-- Transformations for the ReVolt system-->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="enu_ned_broadcaster" args="0 0 0 $(arg half_pi) 0 $(arg pi) fixed ned"/> -->
    
   <!--Handmeasured translation from cam to body, assuming paralell coordinate-systems -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="body_cam_broadcaster" args="1.31 0 -0.17 0 0 $(arg pi) body cameraframe"/> -->

     <!--Calibration-values from lidar/camera calibration--> 
	<node pkg="tf2_ros" type="static_transform_publisher" name="cam_lidar_broadcaster" args="0.0104695 -0.302541 -0.532367 1.30516 -1.51385 0.276407 percieved_calibrated_cam0_frame velodyne"/>
    
    <!-- An additional rotation around the roll / z-axis is added to compensate for the unortodox camera-frames on the ladybug -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="realframecam0_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam0 percieved_calibrated_cam0_frame"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="realframecam1_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam1 percieved_calibrated_cam1_frame"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="realframecam2_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam2 percieved_calibrated_cam2_frame"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="realframecam3_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam3 percieved_calibrated_cam3_frame"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="realframecam4_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam4 percieved_calibrated_cam4_frame"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="realframecam5_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam5 percieved_calibrated_cam5_frame"/>
     -->
    <!-- Values from ladybug calibration file is given as tx, ty, tz, Rz, Ry, Rx -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam0_broadcaster" args="0.060997 0.000523 -0.000248    2.154491 1.569960 2.154491 cameraframe cam0"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam1_broadcaster" args="0.019350 -0.057733 0.000210   0.096592   1.570194 1.347821 cameraframe cam1"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam2_broadcaster" args="-0.049263 -0.036352 0.000161   2.292289 1.569963 -1.479256 cameraframe cam2"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam3_broadcaster" args="-0.049440 0.035336 -0.000077  -1.155121 1.569044 2.616579 cameraframe cam3"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam4_broadcaster" args="0.018356 0.058226 -0.000046    1.562662 1.566492  0.306234 cameraframe cam4"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam5_broadcaster" args="0.000547 0.000574 0.074800   3.140111 -0.000324 0.004084 cameraframe cam5"/>
  -->

   <!-- Transforms -->

<node pkg="tf2_ros" type="static_transform_publisher" name="enu_ned_broadcaster" args="0 0 0 $(arg half_pi) 0 $(arg pi) fixed ned"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="lidar_velodyne_broadcaster" args="0 0 0 0 0 0 lidar velodyne"/>
<!-- Camera lidar calibration values  -->
<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="cam_lidar_broadcaster" args="0.0115954 -0.193193 -0.039949 0.489951 -1.54268 1.07342 percieved_calibrated_camera0_frame lidar"/> -->
<!-- Static camera angles  -->
<node pkg="tf2_ros" type="static_transform_publisher" name="realframe_precivedframe_broadcaster" args="0 0 0 -$(arg half_pi) 0 0 cam0 percieved_calibrated_camera0_frame"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam0_broadcaster" args="0.060997 0.000523 -0.000248 2.154491 1.569960 2.154491 cameraframe cam0"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam1_broadcaster" args="0.019350 -0.057733 0.000210 1.347821 1.570194 0.096592 cameraframe cam1"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="ladybugframe_cam4_broadcaster" args="0.018356 0.058226 -0.000046 0.306234 1.566492 1.562662 cameraframe cam4"/>


 <!--Handmeasured translation from cam to body, assuming paralell coordinate-systems -->
<node pkg="tf2_ros" type="static_transform_publisher" name="body_cam_broadcaster" args="1.31 0 -0.17 0 0 $(arg pi) body cameraframe"/>


    <!-- Tracking node using autosea-ROS package -->
    
	<!-- Tracking node using autosea-ROS package -->

	<node name="tracker" pkg="autosea_tracking" type="lidar_camera_tracker" ns="tracking" output="screen" respawn="true">
        <param name="target_process_noise_covariance" value="0.1" />
        <param name="gate_probability" value="0.99" />
        <param name="maximum_velocity" value="8" />
        <param name="detection_probability" value="0.9" />
        <param name="M_init" value="25" />
        <param name="N_init" value="30" />
        <param name="N_terminate" value="5" />
        <param name="ipda_survival_probability" value="1.0" />
        <param name="ipda_init_prob" value="0.2" />
        <param name="ipda_confirmation_threshold" value="0.99" />
        <param name="ipda_termination_threshold" value="0.1" />
        <param name="N_smooth" value="1" />
        <param name="scan_topic" value="/lidar_centroids" />
        <param name="camera_measurement_topic" value="/camera_measurement"/>
        <param name="estimate_topic" value ="estimates" />
        <param name="use_ipda" value="true"/>
        <rosparam param="measurement_covariance_lidar">
            type : cartesian
            cartesian : 0.5
            range : 100.0
            bearing : 0.001611
        </rosparam>
         <rosparam param="measurement_covariance_camera">
            type : cartesian
            cartesian : 0.1
        </rosparam>
    </node> 

    <!-- Plot XY-plot in matplotlib -->
    <!-- <node name = "plottarn" pkg="autosea_vis" type = "plot_pose.py" ns=  "visualizing" output="screen" respawn="true"/> -->
    
    <!-- Visualization of track estimates in Rviz -->
     <node name="visualizer" pkg="autosea_vis" type="display_tracks" ns="visualizing" output="screen" respawn="true">
        <param name="estimate_topic" value ="/tracking/estimates" />
        <param name="marker_topic" value="rviz_marker" />
        <param name="width" value="0.5" /> -->
      <rosparam param="color">[1.0, 0.0, 0.0, 1.0]</rosparam>   <!--  RGBA  -->
        <param name="max_line_length" value="5" /> 
        <param name="end_width" value="1" />

    </node>  



   
   

</launch>