<launch>

    <arg name="use_gps_time" default="false"/>

	<arg name="half_pi" value="$(eval pi/2)"/>
    <arg name="pi" value="$(eval pi)"/>

    <!--Publisher for BODY to NED-->
	<node name="framepublisher" pkg="frame_publisher" type="FramePublisher" respawn="true" output="screen">
        <param name="use_gps_time_in_publisher" value="false"/>
    </node>


   
    <!-- Tracking node using autosea-ROS package -->
	<node name="tracker" pkg="autosea_tracking" type="lidar_camera_tracker" ns="tracking" output="screen" respawn="true">
        <param name="target_process_noise_covariance" value="0.1" />
        <param name="gate_probability" value="0.99" />
        <param name="maximum_velocity" value="8" />
        <param name="detection_probability" value="0.9" />
        <param name="M_init" value="25" />
        <param name="N_init" value="30" />
        <param name="N_terminate" value="5" />
        <param name="ipda_survival_probability" value="1.0" />
        <param name="ipda_init_prob" value="0.4" />
        <param name="ipda_confirmation_threshold" value="0.9" />
        <param name="ipda_termination_threshold" value="0.1" />
        <param name="N_smooth" value="1" />
        <param name="scan_topic" value="/lidar_centroids" />
        <param name="camera_measurement_topic" value="/camera_measurement"/>
        <param name="estimate_topic" value ="estimates" />
        <param name="use_ipda" value="true"/>
        <rosparam param="measurement_covariance_lidar">
            type : cartesian
            cartesian : 0.5
            range : 100.0
            bearing : 0.001611
        </rosparam>
         <rosparam param="measurement_covariance_camera">
            type : cartesian
            cartesian : 0.1
        </rosparam>
    </node>-
    

    <!-- Plotting node-->
    <node name = "plottarn" pkg="autosea_vis" type = "plot_pose.py" ns=  "visualizing" output="screen" respawn="true"/>
    
    <!-- Visualization of track estimates in Rviz -->
    <node name="visualizer" pkg="autosea_vis" type="display_tracks" ns="visualizing" output="screen" respawn="true">
        <param name="estimate_topic" value ="/tracking/estimates" />
        <param name="marker_topic" value="rviz_marker" />
        <param name="width" value="0.5" />
        <rosparam param="color">[1.0, 0.0, 0.0, 1.0]</rosparam> <!--RGBA -->
        <param name="max_line_length" value="5" />
        <param name="end_width" value="1" />
    </node>
   

</launch>