<?xml version="1.0"?>
<launch>
    <!-- Data processing nodes -->
    <node name="radarSpokesToPoints"   pkg="radar_processing" type="RadarSpokesToPointsNode"   output="screen" />
    <node name="radarPointsToClusters" pkg="radar_processing" type="RadarPointsToClustersNode" output="screen" /> 

</launch>
